<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="gitlab-ci-url" value="http://ec2-54-171-82-186.eu-west-1.compute.amazonaws.com/gitlabci"/>
    <add key="gitlab-ci-token" value="21d28e9e30a1c6e76813"/>
    <add key="gitlab-ci-sslbypass" value="false"/>
    <add key="service-instance-name" value="1"/>
    <add key="service-username" value=".\GitLabCI"/>
    <add key="service-password" value="GitLabCI"/>
  </appSettings>
</configuration>